#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  justify-self: anchor-center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
}

.boxForPuppyNames {
  background-color: rgb(151, 198, 204);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 40%;
  height: 872px;
  justify-self: anchor-center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.background {
  background-image: url("https://media.istockphoto.com/id/1154954591/photo/creative-collage-of-different-breeds-of-dogs-on-colorful-background.jpg?s=612x612&w=0&k=20&c=-_iwy8ZEGH1Zt7AfkanMJFJDuj11tw2bTRqkJgjKhfo=)", background-repeat:
  width: 90%,
  height: "972px",
}